{% extends 'base.html' %}

{% block meta %}
<title>Education - {{ name }}</title>
{% endblock meta %}

{% block content %}
<main>
    <section class="organization-section" id="education">
        <div class="container">
            <h2 class="section-title">Education</h2>
            <div class="organization-list">
                {% for education in educations %}
                <div class="education-card">
                    {% if education.logo %}
                    <img class="org-logo" src="{{ education.logo }}" alt="Logo {{ education.school_name }}" style="width: 70px; height: 70px; object-fit: contain;">
                    {% endif %}

                    <div class="card-info">
                        <h3>{{ education.school_name }}</h3>
                        <p class="org-name">{{ education.degree }}</p>
                        <p class="org-date">
                            {{ education.start_year }}
                            -
                            {% if education.end_year %}
                                {{ education.end_year }}
                            {% else %}
                                Present
                            {% endif %}
                        </p>
                    </div>
                </div>

                {% empty %}

                <p style="grid-column: 1 / -1; color: var(--primary);">
                    Belum ada data pendidikan yang ditambahkan.
                </p>

                {% endfor %}

            </div>
        </div>
    </section>
</main>
{% endblock content %}