{% extends "base.html" %}

{% block meta %}
<title>Add Organization - {{ name }}</title>
{% endblock meta %}

{% block content %}
<main>
    <section class="organization-section">
        <div class="container">
            <h1 class="section-title">Add New Organization</h1>
            <form method="post" action="{% url 'main:create_organization' %}" class="organization-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                    {{ field }}

                    {% for error in field.errors %}
                    <p class="form-error">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="form-actions">
                    <button type="submit" class="button">Add Organization</button>
                    <a href="{% url 'main:show_organization' %}" class="button button-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}