{% if user.is_authenticated %}
<form
    method="post"
    action="{% url 'main:toggle_star' organization.id %}"
    class="star-form"
>

    {% csrf_token %}

    <button
        type="submit"
        class="button"
    >

        {% if user in organization.starred_by.all %}
            Unstar
        {% else %}
            Star
        {% endif %}

        ({{ organization.starred_by.count }})

    </button>

</form>

{% else %}

<a
    href="{% url 'main:login' %}"
    class="button"
>
    Login to Star
</a>

{% endif %}